* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #004466;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
    padding-top: 150px; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
}

.nav-links a {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: #006699;
}

.nav-links a:hover {
    background-color: #0088cc;
    transform: scale(1.1);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 5px;
    background-color: #004466;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cell {
    background-color: #cce6ff;
    border: 1px solid #99ccff;
    width: 50px;
    height: 50px;
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px;
}


.cell:hover {
    cursor: pointer;
    background-color: #99ccff;
}


.cell.hit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: #66cc66;
}

.cell.miss {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc6666;
    color: white;
    font-weight: bold;
} 

.cell.hit::before {
    content: "✔";           
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}


.cell.miss::before {
    content: "X";
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.cell.ship {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.ship::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #004466;
}

.restart-button {
    padding: 10px 20px;
    background-color: #006699;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restart-button:hover {
    background-color: #004466;
}

.footer {
    background-color: #00334d;
    color: white;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
